* {
    margin: 0;
    padding: 0;
}

body {
    font: 18px Verdana;
    color: #FFF;
    background: #CCC;
}
.container {
    height: 100vh;
    background: #ffffff;
    /*font-family: 'Permanent Marker', cursive;*/
    font-size: 16px;
    box-sizing: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#boxbuttons div {
    display: inline-block;
}

.board {
    width: 85%;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 8px 9px 26px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 3em;
    perspective: 1000px;
}

.board .card {
    height: 3.7rem;
    width: 3.7rem;
    margin: auto 0.2rem 0.2rem;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
    transform: scale(1);
    transform-style: preserve-3d;
}
    .board .card.show {
        transform: scale(.97);
        transition: transform .2s;
    }

    .board .card.open {
        transform: rotateY(180deg);
        cursor: default;
    }


    .board.card.match {
        cursor: default;
        animation-name: pulse;
        animation-duration: .75s;
    }

    .board .card.unmatched {
        animation-name: rubberBand;
        animation-duration: .75s;
    }


    .board .card.disabled {
        pointer-events: none;
        opacity: 0.9;
    }

    .board .card.disableplayground {
        pointer-events: none;
        cursor: default;
    }

.front, .back {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    background: #1c7ccc;
    backface-visibility: hidden;
}

.front {
    transform: rotateY(180deg);
}

@media (max-width: 320px) {
    .board {
        width: 85%;
    }

        .board .card {
            height: 4.7rem;
            width: 4.7rem;
        }
}

@media (min-width: 768px) {
    .container {
        font-size: 22px;
        height: 99vh;
    }

    .board {
        width: 760px;
        height: 900px;
        margin: auto
    }

        .board .card {
            height: 100px;
            width: 125px;
            margin: auto
        }

    .popup {
        width: 50%;
    }

    .front, .back {
        width: 100%;
        height: 120%;
    }

    .radio {
        display: inline;
        font-size: 22px
    }
}

    #boxbuttons {
        text-align: center;
        margin: 20px;
        display: block;
    }

        #boxbuttons .button {
            text-transform: uppercase;
            background: #EE872A;
            padding: 5px 10px;
            margin: 5px;
            border-radius: 10px;
            cursor: pointer;
        }

            #boxbuttons .button:hover {
                background: #999;
            }

    .overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.7);
        transition: opacity 500ms;
        visibility: hidden;
        opacity: 0;
    }

        .overlay:target {
            visibility: visible;
            opacity: 1;
        }

    .popup {
        margin: 70px auto;
        padding: 20px;
        background: #ffffff;
        border-radius: 5px;
        width: 85%;
        position: relative;
        transition: all 5s ease-in-out;
        /*font-family: 'Gloria Hallelujah', cursive;*/
    }

        .popup h2 {
            margin-top: 0;
            color: #333;
            font-family: Tahoma, Arial, sans-serif;
        }

        .popup .close, #closemenu {
            position: absolute;
            top: 20px;
            right: 30px;
            transition: all 200ms;
            font-size: 30px;
            font-weight: bold;
            text-decoration: none;
            color: #333;
        }

            .popup .close:hover #closemenu :hover {
                color: #E5F720;
            }

    .show {
        visibility: visible !important;
        opacity: 100 !important;
    }

    #closemenu {
        display: none;
    }

    .radio {
        margin-top: -10px;
        font-family: Arial;
        display: inline-flex;
        font-size: 18px;
    }

    .form {
        display: none;
    }

        .form.vis {
            visibility: visible;
            display: inline-flex;
            margin: -18px 27px;
        }
    /*
 * Styles for the Score Panel
 */
    .score-panel {
        text-align: left;
        margin-bottom: 10px;
        display: inline;
    }

        .score-panel .restart {
            float: right;
            cursor: pointer;
        }

        .score-panel .home {
            float: right;
            margin-right: 10px;
            cursor: pointer;
        }

    .moves {
        display: none;
    }

    .timer {
        display: inline-block;
        margin: 0 1rem;
    }

    /*players*/

    .players {
        display: flex;
    }

    .name-score {
        display: none;
        margin: 0px 5px
    }

    .name {
        font-size: 13px;
        margin: 5px;
        display: inline;
    }

    .player, .score {
        width: 150px;
        padding: 10px 20px;
        margin: 10px 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 16px;
        text-align: center;
    }

    .score {
        width: 70px;
    }

    .name.turn {
        border: 2px solid #fee949;
        border-radius: 7px;
        padding: 10px;
        -webkit-box-shadow: 0px 0px 10px #fee949;
        -moz-box-shadow: 0px 0px 10px #fee949;
        box-shadow: 0px 0px 10px #fee949;
    }

